**/node_modules/
**/build/
**/transpiled/
**/dist/
**/compiled/
**/coverage/
**/.rpt2_cache/

packages/loopring_v2.js/packages/*/lib/
packages/loopring_v2.js/packages/*/es/
packages/loopring_v2.js/packages/*/docs/
packages/loopring_v2.js/packages/*/dist/

**/.node-*
**/*.log
**/*.d.ts
**/*.ts.map
**/*.js.map

**/.DS_Store
**/.nyc_output
**/.vscode
**/.idea
**/.awcache
**/.rpt2_cache

**/package-lock.json
**/ganache_account_keys.txt
**/deployedAddresses.json
**/yarn.lock